streamlit
pandas
numpy
plotly
gspread
google-auth
langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-deepseek
langchain-core
sentence-transformers
faiss-cpu
pypdf