streamlit
pandas
numpy
plotly
gspread
google-auth
langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-deepseek
langchain-core
langchain-classic
sentence-transformers
faiss-cpu
pypdf
torchvision
pyzipper
lightgbm>=3.3.0
scikit-learn>=1.0